name: python calc tester
on:
  push:
    branches: [main]

jobs:
  calc-tester:
    runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v4

      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
        
      - name: upgrade pip
        run: python -m pip install --upgrade pip

      - name: install requirements
        run: pip install -r requirements.txt

      - name: run tests
        run: pytest -v
      
